/*our-works*/
.our-works {

  &__title {
    margin-bottom: 80px;
    
    @media(max-width: 756px){
      margin-bottom: 40px;
    }
  }

  &__main {
    position: relative;
    z-index: 10;
    overflow: hidden;

    // @media(max-width: 768px){
    //   width: 398px; 
    // }

    // @media(max-width: 756px){
    //   width: 100%;
    // }

    // @media(max-width: 375px){
    //   border-radius: 0;
    // }
  }

  &__swiper {
    position: relative;
    width: 100%;
  }

  &__swiper-wrapper {
    position: relative;
    font-family: "Montserrat", sans-serif;
    right: 0;
    height: 929px;

  @media(max-width: 768px){
    height: 598px;
  }

  @media(max-width: 475px){
    height: 784px;
  }
}

}

.swiper-pagination-2 {
	padding: 0;
	display: flex;
	width: 100%;
	margin: 0;
}

.arrow-2 {
	position: absolute;
	width: 42px;
	height: 202px;
	top: calc(50% - 101px);
	z-index: 10;
	cursor: pointer;
	transition: all 0.3s;

  // @media(max-width: 1024px){
  //   display: none; //скрываем стрелки слайдера
  // }

  &:hover {
    transform: scale(1.1);
  }

  &_prev {
    left: 20px;
  }

  &_next {
    right: 20px;
  }
}

.swiper-pagination-2 > .swiper-pagination-bullet-active {
	color: #fff;
}

.swiper-pagination-2 > .swiper-pagination-bullet-active .text {
	color: #373e46;
}

.swiper-pagination-2 > .swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
	display: flex;
	align-items: center;
	width: auto;
	height: auto;
	margin: 0 !important;
	background: transparent;
	border: none;
	gap: 12px;
}

.swiper-pagination-2 { 
	position: absolute;
	bottom: 20px;
	left: 0;
	display: flex;
	justify-content: center;
	gap: 20px;
	z-index: 1;
  
  @media(max-width: 1024px){
    display: flex; 
  }
}

.swiper-pagination-2 > .swiper-pagination-bullet {
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 60px;
	height: 2px;
	margin: 0 0 20px 0 !important;
  background: rgba(255, 255, 255, 0.3);
}
.swiper-pagination-2 > .swiper-pagination-bullet-active {
  background: #fff !important;
}

.slide-2 {
	position: absolute;
	width: 100%;
  height: 100%;
	right: 0;
	border-radius: 20px;
	display: flex;
	justify-content: end;
  
  &__content {
    border-radius: 20px;
    padding: 40px;
    height: auto;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: rgba(55, 62, 70, 0.6);
    position: absolute;
    width: 560px;
    top: 248px;
    right: 240px;

    @media(max-width: 1024px){
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 416px;
    }

    @media(max-width: 560px){
      padding: 20px;
    }

    // @media(max-width: 940px){
    //   border-radius: 12px;
    //   width: calc(100% - 40px);
    // }
  }

  &__title {
    font-family: "Posterama Text", sans-serif;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: -0.01em;
    color: var(--text-color);
    margin-bottom: 20px;

    @media(max-width: 1024px){
      font-size: 22px;
    }
  }

  &__text {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media(max-width: 1024px){
      font-size: 16px;
    }

    & > p {
      display: flex;
      justify-content: space-between;
      font-weight: 500;

      & > span {
        font-weight: 400;
      }
    }
    
    & > small {
      font-size: 14px;
    }
  } 
  
  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

